<div class="container mt-4">
  <h1>My Tasks</h1>
  <ul>
    <% @tasks.each do|task| %>
      <h4><li><%= link_to task.title, task_path(task) %></li></h4>
      <div>
      <%= link_to destroy_task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash"></i>
      <% end %>
      </div>
    <% end %>
  </ul>
  <br>
  <h4><%= link_to "+ Add new task", task_new_path, class:"btn btn-primary" %></h4>
</div>
